#img{
  float: left;
  width: 15%;
  padding-left: 30px;
}
*{
  font-size: 20px;
  margin-left: 30px;
  margin-right: 50px;
  font-family: 'Trebuchet MS';
}
.header{
  text-align: center;
}
.name{
  font-size: 30px;
  font-weight: bold;
}
th{
  text-align: left;
  font-size: 16px;
}
table{
  padding: 50px;
  padding-top: 20px;
  padding-bottom: 2%;
}
td{
  padding: 5px;
  font-size: 16px;
}
h2{
  text-align: center;
  background-color: cyan;
  border-radius: 20px;
  padding-top: 0;
}
.box{
    float: left;
    margin-top: 20px;
    padding-left:5px;
    height: auto;
    width: 99%;
    background-color: #E3EDD8;
    border-radius: 20px;
}
#achievement{
    margin-bottom: 30px;
}
